modules = ["nodejs-20", "web", "python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "glibcLocales", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc"]

[agent]
expertMode = true
integrations = ["python_database:1.0.0"]
